
body {
    overflow: hidden;
    font-family: "Helvetica Neue", sans-serif;
    background-color:darkgray;
}

#root {
    width: 100%;
    min-height: 100vh;
}

.block {
    color: white;

    position: absolute;
    left: 10px;
    top: 50%;
    width: 200px;
    height: 100px;
    background-color:black;
}

.progressBar {
    position: absolute;
    bottom: -10px;
    height: 10px;
    width: 0;
    transition:100ms;

}